<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--主数据库连接串conn-->
    <add key="conn" value="user id=ivytalktm;password=346440713;initial catalog=ivyerp4_std_uid; data source=47.112.128.206,5001"/>
    <!--<add key="conn" value="user id=ivytalktm;password=346440713;initial catalog=ivytalkag_13; data source=123.57.33.28,4001"/>-->
    <add key="msg_conn" value=""/>
    <!--消息推送地址-->
    <add key="send_url" value="http://app.renrenhui365.com:2921"/>
    <!--微信封装接口服务器-->
    <add key="wxsvr" value="http://wxauth01.ivytalksoft.com"/>
    <add key="sort_cls" value=""/>
    <!--短信封装接口服务器-->
    <add key="sms_api" value=""/>
    <!--短信接口mc_id-->
    <add key="mc_id" value="1"/>
    <!--短信接口uid-->
    <add key="uid" value="15817403832"/>
    <!--主图片库-->
    <add key="imgsvr" value="http://app.renrenhui365.com:2922"/>
    <add key="ex_conn" value=""/>
    <!--收货称-->
    <!--微信支付通知地址-->
    <add key="pay_notify_url" value="http://app.renrenhui365.com:2001/paynotify"/>
    <!--支付通知地址-->
    <add key="ali_notify_url" value="http://app.renrenhui365.com:2001/alinotify"/>
    <!--服务器ip-->
    <add key="server_ip" value="123.57.33.28"/>
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/"/>
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear/>
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/"/>
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="4.0"/>
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <handlers>
      <add verb="*" name="bank" path="/bank" type="IvyTran.svr.ERP.bank" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="branch" path="/branch" type="IvyTran.svr.ERP.branch" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="cash_order" path="/cash_order" type="IvyTran.svr.ERP.cash_order" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="check" path="/check" type="IvyTran.svr.ERP.check" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="common" path="/common" type="IvyTran.svr.ERP.common" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="cus_price_order" path="/cus_price_order" type="IvyTran.svr.ERP.cus_price_order" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="cus" path="/cus" type="IvyTran.svr.ERP.cus" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="cus_fy" path="/cus_fy" type="IvyTran.svr.ERP.cus_fy" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="cus_settle" path="/cus_settle" type="IvyTran.svr.ERP.cus_settle" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="dep" path="/dep" type="IvyTran.svr.ERP.dep" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="finance" path="/finance" type="IvyTran.svr.ERP.finance" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="fy_order" path="/fy_order" type="IvyTran.svr.ERP.fy_order" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="inout" path="/inout" type="IvyTran.svr.ERP.inout" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="item" path="/item" type="IvyTran.svr.ERP.item" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="item_cls" path="/item_cls" type="IvyTran.svr.ERP.item_cls" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="mydestop" path="/mydestop" type="IvyTran.svr.ERP.mydestop" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="modify_price" path="/modify_price" type="IvyTran.svr.ERP.modify_price" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="oper" path="/oper" type="IvyTran.svr.ERP.oper" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="payment" path="/payment" type="IvyTran.svr.ERP.payment" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="people" path="/people" type="IvyTran.svr.ERP.people" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="price" path="/price" type="IvyTran.svr.ERP.price" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="print" path="/print" type="IvyTran.svr.ERP.print" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="region" path="/region" type="IvyTran.svr.ERP.region" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="report" path="/report" type="IvyTran.svr.ERP.report" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="sup" path="/sup" type="IvyTran.svr.ERP.sup" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="sup_fy" path="/sup_fy" type="IvyTran.svr.ERP.sup_fy" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="sup_settle" path="/sup_settle" type="IvyTran.svr.ERP.sup_settle" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="sys" path="/sys" type="IvyTran.svr.ERP.sys" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="update" path="/update" type="IvyTran.svr.ERP.update" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="supcust_group" path="/supcust_group" type="IvyTran.svr.ERP.supcust_group" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="pf_price" path="/pf_price" type="IvyTran.svr.ERP.pf_price" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="upload_img" path="/upload_img" type="IvyTran.svr.upload_img" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="weight" path="/weight" type="IvyTran.svr.ERP.weight" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="order" path="/order" type="IvyTran.svr.ERP.order" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="pay" path="/pay" type="IvyTran.svr.ERP.pay" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="alinotify" path="/alinotify" type="IvyTran.svr.ERP.alinotify" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="paynotify" path="/paynotify" type="IvyTran.svr.ERP.paynotify" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="supcust" path="/supcust" type="IvyTran.svr.ERP.supcust" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="salorder" path="/salorder" type="IvyTran.svr.ERP.salorder" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="count_detail" path="/count_detail" type="IvyTran.svr.ERP.count_detail" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="cookbook" path="/cookbook" type="IvyTran.svr.ERP.cookbook" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="RecipeMenu" path="/RecipeMenu" type="IvyTran.svr.ERP.RecipeMenuSvr" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="bom" path="/bom" type="IvyTran.svr.ERP.bom" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="complaint" path="/complaint" type="IvyTran.svr.ERP.complaint" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="batch_stock" path="/batch_stock" type="IvyTran.svr.ERP.batch_stock" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="mobile" path="/mobile" type="IvyTran.svr.ERP.mobile" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="arap_scpayment" path="/arap_scpayment" type="IvyTran.svr.ERP.arap_scpayment" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="cashier" path="/cashier" type="IvyTran.svr.ERP.cashier" resourceType="Unspecified" preCondition="integratedMode"/>
      <!--线上-->
      <add verb="*" name="online_ad" path="/OnLine/ad" type="IvyTran.svr.OnLine.ad" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="online_advice" path="/OnLine/advice" type="IvyTran.svr.OnLine.advice" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="online_config" path="/OnLine/config" type="IvyTran.svr.OnLine.config" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="online_goods" path="/OnLine/goods" type="IvyTran.svr.OnLine.goods" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="online_order" path="/OnLine/order" type="IvyTran.svr.OnLine.order" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="online_customer" path="/OnLine/customer" type="IvyTran.svr.OnLine.customer" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="online_pager" path="/OnLine/pager" type="IvyTran.svr.OnLine.pager" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="ass_api" path="/ass_api" type="IvyTran.svr.pdasvr.ass_api" resourceType="Unspecified" preCondition="integratedMode"/>
      <!--盘点-->
      <add verb="*" name="pda_check_bak" path="/pda/check_bak" type="IvyTran.svr.pdasvr.check_bak" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="pda_check_detail" path="/pda/check_detail" type="IvyTran.svr.pdasvr.check_detail" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="pda_goods" path="/pda/goods" type="IvyTran.svr.pdasvr.goods" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="pda_oper" path="/pda/oper" type="IvyTran.svr.pdasvr.oper" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="pda_par" path="/pda/par" type="IvyTran.svr.pdasvr.par" resourceType="Unspecified" preCondition="integratedMode"/>
      <!--公用API-->
      <add verb="*" name="api_common" path="/api/common" type="IvyTran.svr.API.common" resourceType="Unspecified" preCondition="integratedMode"/>
      <add verb="*" name="batch" path="/API/batch" type="IvyTran.svr.API.batch" resourceType="Unspecified" preCondition="integratedMode"/>
      <!--加工称-->
      <add verb="*" name="scale_Process" path="/scale/Process" type="IvyTran.svr.ProcessingScale.Process" resourceType="Unspecified" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
  <runtime/>
</configuration>