<?xml version="1.0" encoding="UTF-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <appSettings>
    <!--主图片库-->
    <add key="imgsvr" value="http://www.renrenhui365.com:2572" />
    <!--主站-->
    <add key="mainsvr" value="http://www.renrenhui365.com:2571" />
    <!--主数据库连接串conn-->
    <add key="conn" value="user id=sa;password=renren1!8893;initial catalog=order_sys;data source=127.0.0.1,4001" />
    <!--厂商数据库连接串conn-->
    <add key="factory_conn" value="user id=sa;password=renren1!8893;initial catalog=@factory_acc;data source=127.0.0.1,4001" />
    <!--微信封装接口服务器-->
    <add key="wxsvr" value="http://wxauth.ivytalksoft.org" />
    <!--运行模式：0测试；1正式-->
    <add key="run_mode" value="0" />
    <!--开启微信推送：0关闭；1开启-->
    <add key="wx_mode" value="1" />
    <!---->
    <add key="verify_pwd" value="035461" />
    <add key="rpt_start_date" value="2018-06-16" />
    <!--支付接口：1 微信支付宝原生接口;  2 兴业银行支付接口-->
    <add key="pay_api" value="2" />
    <!--兴业银行微信支付回调接口-->
    <add key="xy_pay_notify_url" value="" />
    <!--兴业银行支付宝支付回调接口-->
    <add key="xy_ali_notify_url" value="" />
    <!--兴业银行商户id-->
    <add key="xy_mch_id" value="7551000001" />
    <!--兴业银行商户key-->
    <add key="xy_mch_key" value="9d101c97133837e13dde2d32a5054abb" />
    <!--兴业银行支付入口-->
    <add key="xy_pay_url" value="https://pay.swiftpass.cn/pay/gateway" />
  </appSettings>
  <connectionStrings>
    <add name="ApplicationServices" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>

    <compilation debug="true" targetFramework="4.0" />

    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login.aspx" timeout="2880" />
    </authentication>

    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>

    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add verb="*" name="oper" path="/oper" type="Server.svr.oper" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" name="order" path="/order" type="Server.svr.order" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" name="common" path="/common" type="Server.svr.common" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" name="rpt" path="/rpt" type="Server.svr.rpt" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" name="imgser" path="/imgser" type="Server.svr.imgser" resourceType="Unspecified" preCondition="integratedMode" />
      <add verb="*" name="wxuser" path="/wxuser" type="Server.svr.wxuser" resourceType="Unspecified" preCondition="integratedMode" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="login.html" />
      </files>
    </defaultDocument>
  </system.webServer>
</configuration>
